#herosection img{
    height: 500px;
    width: 70%;
}

#picture{
    display: flex;
    flex-direction: column;
}

#picture .card img{
    height: 200px;
    object-fit: cover;
}

.picture .card button{
    margin-top: auto;
}

.footer{
    background-color: #00c853;
}

.footer h5,p{
    color: white;
}

.foot img{
    /* margin-left: 80px; */
    object-fit: contain;
    
} 